


/*celular estilos*/

/* Logo de la pagina: bandera de Italia*/
.logo{
    width: 30%;
}

.container-fluid{
  margin: 0 auto;
}
/* Estilos para los links */
a:visited{ color: rgba(134, 222, 215, 0.988) !important; }
a:hover { color: #df3f3f !important;}
a:active{color: rgb(87, 219, 111) !important;}

/* Galeria de fotos*/
.container-fotos img:hover {
  filter: brightness(0.8); /* Oscurece la imagen */
}

.container-fotos img {
  width: 100%; 
  height: auto; 
}
/* Contenedor general de paginas para centrar */
.container-general{
  width: 80%; 
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


/* container juego para mobile*/
.container {
  display: flex;
  position: relative;
  justify-content: center; 
  align-items: center; 
width: 100%;
margin: 0 auto;
  background-color: rgb(106, 169, 123);
  padding: 2em;

}

/* Imagen header del homepage*/
.imagen-header{
  width: 100%; 
  height: auto;  
  max-height: 75vh;   
  object-fit: cover;  
 
  margin: 0 auto;   
}

.imagen-home{
  width: 100%;
  margin: 0 auto;
  max-height: 75vh;   
  object-fit: cover;  
  display: block;   
  margin: 0 auto;
  }


  
  .purpose {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    text-align: center;     
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 3em; 
    margin-bottom: 3em;
    width: 100%;
    background-color: #84b6c0;
  }

  .textopurpose{

 width: 90%;color: rgb(255, 255, 255); margin-top: 1em;
  }
  main .row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
 
  }


  /* Imagen */
  .imagen-enlace img {
    transition: filter 0.3s, transform 0.3s;
    
  }

  /* Efecto al pasar el mouse */
  .imagen-enlace:hover img {
    filter: brightness(0.8); /* Oscurece la imagen */
    transform: scale(1.05); /* Aumenta el tamaño */
  }

  /* Efecto al hacer clic */
  .imagen-enlace:active img {
    filter: brightness(0.4); /* Más oscuro */
    transform: scale(1.02); /* Reduce el tamaño ligeramente */
  }


  .texto-sobre-imagen {
    position: absolute; 
    transform: translate(10%, -160%); 
    color: white; 
    font-size: 29px; 
    font-weight: bold; 
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7); 
    z-index: 2;
    
  }










footer{
  
    width: 100% !important;
    background-color: #816346;
    padding: 1em;
  
}

 .d-block {
max-height: 60ch;
padding: 0.5em;

background-color: white;

 }
.carousel-inner{
  margin-bottom: 5em;
  ;
}

 .conteiner-galeria{
background-color: rgb(3, 3, 3);
height: 100%;
 }


    .h-gastronomia{
        width: 100%; 
        height: auto;  
        height: 30vh; 
        object-fit: cover;  
        display: block;    
         margin-top: 1em;
    }

 

    .header-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(214, 64, 64);
     
      font-weight: bold; 
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
      text-align: center;
      width: 100%; 
    
     
  }

  .header-subtext{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(106, 175, 130);
   
    font-weight: bold; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 100%; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.container-fotos{
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}



    @media screen and (min-width: 768px) {
        .h-gastronomia{
            width: 100%; 
            height: auto;  
          height: 40vh; 
            object-fit: cover;  
            display: block;    
             margin-top: 1em;
        }

        .imagen-header{
          max-height: 50vh;   
        }
        
       

        .imagen-home{
          width: 86%;
        }

        .purpose{
          padding: 3em;
          width: 100%;
        }

      }





@media screen and (min-width: 992px) {
 

        .h-gastronomia{
            width: 100%; 
            height: auto;  
          height: 75vh; 
            object-fit: cover;  
            display: block;     
        }

      
        .imagen-header{
          max-height: 75vh;   
        }

        .purpose{
          padding: 4em;
        
            width: 100%;
        
      
        }

        .textopurpose{

        width: 85%;
          }

        
  }



  @media screen and (min-width: 1336px) {

    .textopurpose{

      width: 80%;
    }

    .purpose{
      width: 100%;
    }


    .container {
   width: 40%;
    
    }
    

  }


  /* diseño de juego */
button {
  cursor: pointer;
}



#opcionesHtml {
    display: flex;
    flex-direction: column; 
    margin-top: 1em;
    gap: 1em; 
    color: white;

  }

  .preguntasyrespuestas{
    padding: 2em;
  }

  .opcionesHtml button {
    padding: 10px 20px; 
    border-radius: 8px; 
    border: 1px solid #ccc;
    background-color: #f8f8f8; 
  

  }
  
  .opcionesHtml button:hover {
    background-color: #e0e0e0; 
  }

    
 


  #temporizador {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 30px;
    color: #FFF;
    background-color: red;
    border-radius: 2em;
    padding: 0.2em;
  }
  
  #botonJugar {
    display: block;
    margin: 0 auto;
    padding: 10px 20px; 
    border-radius: 8px; 
    border: 1px solid #ccc;
    background-color: #f8f8f8; 
  }
  
