


/*celular estilos*/

/* Logo de la pagina: bandera de Italia*/
.logo{
    width: 30%;
}

.container-fluid{
  margin: 0 auto;
}
/* Estilos para los links */
a:visited{ color: rgba(238, 138, 38, 0.988) !important; }
a:hover { color: #529355 !important;}
a:active{color: rgb(218, 28, 28) !important;}


/* Imagen header del homepage*/
.imagen-header{
  width: 100%; 
  height: auto;  
  max-height: 75vh;   
  object-fit: cover;  
  display: block;      
}

.imagen-home{
  width: 100%;
  margin: 0 auto;
  
  }

  .purpose {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center;    /* Centra horizontalmente */
    text-align: center;     
          padding-top: 3em;
          padding-bottom: 3em;
    margin-top: 3em; 
    margin-bottom: 3em;
    background-color: rgb(231, 63, 63);
  }

  .textopurpose{

  text-align: justify; width: 90%;color: white;
  }
  main .row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3em;
  }


  /* Imagen */
  .imagen-enlace img {
    transition: filter 0.3s, transform 0.3s;
    
  }

  /* Efecto al pasar el mouse */
  .imagen-enlace:hover img {
    filter: brightness(0.8); /* Oscurece la imagen */
    transform: scale(1.05); /* Aumenta el tamaño */
  }

  /* Efecto al hacer clic */
  .imagen-enlace:active img {
    filter: brightness(0.4); /* Más oscuro */
    transform: scale(1.02); /* Reduce el tamaño ligeramente */
  }


  .texto-sobre-imagen {
    position: absolute; 
    transform: translate(10%, -160%); 
    color: white; 
    font-size: 29px; 
    font-weight: bold; 
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7); 
    z-index: 2;
    
  }










footer{
    color: white !important;
    width: 100% !important;
    background-color: #477d49;
    padding: 1em;
  
}





    .h-gastronomia{
        width: 100%; 
        height: auto;  
        height: 30vh; 
        object-fit: cover;  
        display: block;    
         margin-top: 1em;
    }







    @media screen and (min-width: 768px) {
        .h-gastronomia{
            width: 100%; 
            height: auto;  
          height: 40vh; 
            object-fit: cover;  
            display: block;    
             margin-top: 1em;
        }

        .imagen-header{
          max-height: 50vh;   
        }

        .imagen-home{
          width: 86%;
        }

        .purpose{
          padding: 3em;
        }
    }




@media screen and (min-width: 992px) {
 

        .h-gastronomia{
            width: 100%; 
            height: auto;  
          height: 75vh; 
            object-fit: cover;  
            display: block;     
        }

      
        .imagen-header{
          max-height: 75vh;   
        }

        .purpose{
          padding: 1em;
        }

        .textopurpose{

        width: 85%;
          }
  }



  @media screen and (min-width: 1336px) {

    .textopurpose{

      width: 45%;
    }

  }